---
# Only the main Sass file needs front matter (the dashes above)
---

@import "minimal-mistakes";

/* change background */
body {
  background: #bcafe0;  /* pick your color */
}

/* optional: change content box */
.page__content, .page__inner-wrap {
  background: white;
}
